* {
    margin: 0 auto;
    padding: 0 auto;
    background-color: blanchedalmond;
}
.container {
    background-color: burlywood;
    width: 40em;
    position: relative;
}
.center {
    text-align: center;
}

#elon {
    border-radius: 4%;
    width: 20em;
}
.main {
    margin: 1em;
    padding: 1em;
}
p {
    width: 30em;
    height: 10em;
    padding: 1em;   
}
#chapter {
    text-decoration: underline;
    font-family: monospace;
}
.section {
    position: relative;
    margin: 1em;
    padding: 1em;
}
#auto {
    padding: 0 auto;
    margin: 0 auto;
    height: 0 auto;
}